{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Введите название города{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
    <form method="POST">
        <input type="text" name="city" placeholder="Введите название города" required>
        <input type="submit" value="Получить погоду">
    </form>
    
    {% if weather %}
        <h2>Прогноз погоды для {{ weather['city'] }}</h2>
        <p>Температура: {{ weather['temperature'] }} °C</p>
        <p>Ощущается как: {{ weather['apparent_temperature'] }}</p>
        <p>Ветер, м/с: {{ weather['wind_speed_10m'] }}</p>
    {% endif %}
  </p>
{% endblock content %}